@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SalesSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo-google.png" class="mx-auto w-25 imglogo">SalesSystem
                </a>
                @if (SignInManager.IsSignedIn(User))
                {
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item  dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Customers</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Customers" asp-controller="Customers" asp-action="Customers">Customers List</a>
                                    <a class="dropdown-item" asp-route-id="0" asp-area="Customers" asp-page="/Account/Register">Add</a>
                                </div>
                            </li>
                            <li class="nav-item  dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Provider</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Provider" asp-controller="Provider" asp-action="Provider">Provider List</a>
                                    <a class="dropdown-item" asp-route-id="0" asp-area="Provider" asp-page="/Account/Register">Add Provider</a>
                                </div>
                            </li>
                            <li class="nav-item  dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Shopping</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Shopping" asp-page="/Account/AddShopping">Add Shopping</a>
                                    <a class="dropdown-item" asp-area="Shopping" asp-controller="Shopping" asp-action="Shopping">Shopping List</a>
                                </div>
                            </li>
                            <li class="nav-item  dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Product</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Product" asp-page="/Account/AddProduct">Add Product</a>
                                    <a class="dropdown-item" asp-area="Product" asp-controller="Product" asp-action="Product">Product List</a>
                                </div>
                            </li>
                            <li class="nav-item  dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Users</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Users" asp-controller="Users" asp-action="Users">User List</a>
                                    <a class="dropdown-item" asp-route-id="0" asp-area="Users" asp-page="/Account/Register">Add</a>
                                </div>
                            </li>
                            <li class="nav-item  dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Setting</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Setting" asp-controller="Setting" asp-action="Setting">Setting</a>
                                    <a class="dropdown-item" asp-area="Boxes" asp-controller="Boxes" asp-action="Boxes">Boxes</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                }

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - SalesSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/function.js" asp-append-version="true"></script>
    <script src="~/js/Uploadpicture.js" asp-append-version="true"></script>
    <script src="~/js/User.js" asp-append-version="true"></script>
    <script src="~/js/Customers.js" asp-append-version="true"></script>
    <script src="~/js/Provider.js" asp-append-version="true"></script>
    <script src="~/js/Shopping.js" asp-append-version="true"></script>
    <script src="~/js/Product.js" asp-append-version="true"></script>
    <script src="~/js/Boxes.js" asp-append-version="true"></script>
    <script src="~/js/Principal.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
